<div class="container">
	<footer class="container">
		<small>
			Copyright &copy; <a href="#">ruby on rails</a>
			by iqtadar hassan
		</small>
		<nav>
			<ul>
				<li><%= link_to "About", about_path %></li>
			</ul>
		</nav>
	</footer>
</div>